
<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1><%=@place.name%></h1>
<i><%=@place.address%></i>
<br><br>
<p><%=@place.description%></p>

<br><br>

<!-- integrating the map -->

  <body>
    <div id="map"></div>

      <!--if the ltd + lng are there then do the script that shows the map-->
      <% if @place.latitude.present? && @place.longitude.present? %>

    <script>

      function initMap() {
        var myLatLng = {lat: <%=@place.latitude%>, lng: <%=@place.longitude%>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>

    <%end%>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK1l42Q-7su2oWvNZphtJjPGOBcorC8As&callback=initMap">
    </script>


    <br><br><br>









<div class="pull-right">


  <% if current_user && current_user == @place.user %>

  <%= link_to 'Edit', edit_place_path(@place), class: 'btn btn-primary'%>

  <%= link_to 'Detroy', place_path(@place), method: :delete, data: {confirm: 'Are you sure you want to delet this??'}, class: 'btn btn-danger' %>
  <%end%>

</div>
</div>
<Cdiv class="boohya_box  col-xs-10 col-xs-offset-1">



<br><br>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add A Comment</h4><br>
         lets know how do you find this place ...
      </div>
      <div class="modal-body">


      <!-- adding comments form -->


<%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
  <%= f.input :message %>
  <%= f.input :rating, as: :select, collection: Comment::RATINGS %>

</div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        

            <%= f.submit "Add A Comment", class: 'btn btn-primary' %>
      </div>
      <%end%>



    </div>
  </div>
</div>





<div class="col-xs-10 col-xs-offset-1">
<h1 class="pull-left">Comments</h1>


<!-- Button trigger modal  + pop up model-->
<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#myModal">
  Add A Comments
</button>
</div>
<div class="clear"></div>


<!-- showing the comments in the place-->
<% @place.comments.each do |comment| %>

<div class="col-xs-12 col-sm-6">
  <blockquote>

  <% if comment.humanized_rating.present? %>
    <%=comment.humanized_rating %> <br>
    <%end%>

    <%= comment.message %>
    <small><%=comment.user.email %></small>

  </blockquote>
</div>
<%end%>

